<div class="ly_main">
  <h1 class="text-center">Trips</h1>
  <div class="text-center mb-3">
    <% @tag_lists.each do |tag| %>
      <span>
        <%= link_to tag.name, tag_trips_path(tag_id: tag.id) %> /
      </sapn>
    <% end %>
  </div>
</div>
<div class="container-fluid">
  <div class="row mx-auto my-suto">
    <%= render 'index', trips: @trips %>
  </div>
</div>
