<table>
  <% trip.comments.each do |comment| %>
    <% comment_user = comment.user %>
    <tr>
    	<td>
    	  <%= comment_user.name %>
    	</td>
    	<td><%= comment.comment %></td>
    	<% if current_user == comment_user %>
      	<td><%= link_to 'Destroy', trip_comment_path(comment.trip_id, comment.id), method: :delete, remote: true %></td>
    	<% end %>
    </tr>
  <% end %>
</table>