<div class="container-fluid ly_main">
<h3>通知</h3>
    <%= link_to notifications_all_destroy_path, method: :delete do %>
        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">全削除</h7>
    <% end %>
<% if @notifications.exists? %>
    <div>
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
</div>