<div class="container-fluid ly_main">
  <h3 class="text-center">通知</h3>
  <div class="text-right">
    <%= link_to notifications_all_destroy_path, method: :delete do %>
      <i class="fas fa-trash" style="color: red;"></i>
      <h7 style="color: black;">全削除</h7>
    <% end %>
  </div>
  <div class="card notification_card mb-3">
    <div class="card-header pl-0 pr-0">
      <div class="row no-gutters w-100 align-items-center">
        <div class="col ml-3">
          Topics
        </div>
        <div class="col-4 text-muted">
          <div class="row no-gutters align-items-center">
            User
          </div>
        </div>
      </div>
    </div>
    <% if @notifications.exists? %>
      <%= render @notifications %>
    <% else %>
      <div class="card-body py-3">
        <div class="row no-gutters align-items-center">
          <div class="col">
            <p>通知はありません</p>
          </div>
          <div class="d-none d-md-block col-4">
            <div class="row no-gutters align-items-center">
              <div class="media">
                <div class="media-body flex-truncate ml-2">
                  <div class="line-height-1 text-truncate"></div>
                  <a class="text-muted small text-truncate"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>