<div class="container-fluid ly_main">
  <div class="row justify-cont">
    <div class="col-md-3 text-center">
		  <%= render 'info', {user: @user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry} %>
		</div>
    <div class="col-md-9">
      <h2>Users</h2>
      <div class="container-fluid mt-3">
        <div class="row mx-auto my-suto">
          <%= render 'index',users: @users %>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>