<div>
  <h2>User info</h2>
  <%= render 'info', {user: @user, isRoom: @isRoom, roomId: @roomId, room: @room, entry: @entry} %>
</div>

<section class="typeB">
	<input id="TAB-B01" type="radio" name="TAB-B" checked="checked">
	<label class="tabLabel" for="TAB-B01">投稿一覧</label>
	<div class="content"><div>
	  <%= render 'trips/index', trips: @trips %>
	</div></div>
	<input id="TAB-B02" type="radio" name="TAB-B">
	<label class="tabLabel" for="TAB-B02">投稿一覧</label>
	<div class="content"><div>
	</div></div>
	<input id="TAB-B03" type="radio" name="TAB-B">
	<label class="tabLabel" for="TAB-B03">徒然草</label>
	<div class="content"><div>
	</div></div>
</section>
