/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-family: 'Raleway', sans-serif;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}


li {
  list-style: none;
}
main {
  padding-top: 8.5rem;
}
ol {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.15625rem;
  padding-top: 4.86vw;
}
ol li{
  width: 100%;
  position: relative;
  margin: .69vw;
}
.title {
  margin-bottom: .85em;
  line-height: 1.1;
  margin-left: 2.63%;
  font-size: 40px;
  letter-spacing: -.02em;
  font-weight: inherit;
}

.theme{
  opacity: .8;
  width: 36.84%;
  margin-right: 7.89%;
  margin-left: auto;
  font-size: 12px;
}
.top_image img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}
.col-md-8 p {
  width: 140%;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  position: absolute;
  bottom: -50px;
  font-size: 100px;
}

.col-md-4 p {
  width: 110%;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  position: absolute;
  bottom: -50px;
  font-size: 100px;
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}
nav {
  display: block;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 60px 25px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 20;
  opacity: 0;
}
nav a {
  color: #fff;
  text-decoration: none;
}
.open nav {
  left: 0;
  opacity: 1;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul.nav-menu {
  margin-bottom: 60px;
  border-top: solid 1px #fff;
}
nav ul.nav-menu li {
  position: relative;
  margin: 0;
  padding: 20px 0;
}
.toggle_btn {
  display: block;
  position: fixed;
  top: 25px;
  right: 45px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 20;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 10;
  cursor: pointer;
}

.top {
  width: 100%;
  padding: 100px 0 50px 0;
}







section.typeB{
	display: flex;
	flex-wrap: wrap;
}
section.typeB::after {
	content: '';
	width: 100%;
	height: 3px;
	display: block;
	order: -1;
	background: rgba(0,0,0,.1);
}
section.typeB .tabLabel {	/* タブ */
	margin-right: 3px;
	padding: 3px 12px;
	flex: 1;
	order: -1;
	border-radius: 3px 3px 0 0;
	color: #444;
	background: rgba(0,137,167,.3);
	position: relative;
	transition: .5s ;
	cursor: pointer;
}
section.typeB .tabLabel::after {
	content: '';
	width: 100% ;
	height: 3px;
	display: block;
	pointer-events: none;
	transform: translateX(100%);
	transition: cubic-bezier(0.4, 0, 0.2, 1) .2s 80ms;
	background: #EFBB24;
	position: absolute;
	left: 0;
	bottom: -3px;
	z-index: 10;
	opacity: 0;
}
section.typeB .tabLabel:nth-last-of-type(1){ margin-right: 0; }
section.typeB input {		/* ラジオボタン非表示 */
	display: none;
}
section.typeB .content {	/* 本文 */
	width: 100%;
	height:0;
	overflow:hidden;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	opacity:0;
}
section.typeB .content > div {
	pointer-events:none;
	transform: translateX(30%);
	transition: transform .3s 80ms, opacity .3s 80ms;
}
/*アクティブ設定*/
section.typeB input:checked + .tabLabel {		/*タブ*/
	color: #fff;
	background: rgba(0,137,167,.7);
}
section.typeB input:checked ~ .tabLabel::after {
	transform: translateX(-100%);
}
section.typeB input:checked + .tabLabel::after {
	opacity: 1;
	transform: translateX(0);
}
section.typeB input:checked + .tabLabel + .content {	/*本文*/
	height: auto;
	padding: 15px;
	order: 1;
	opacity: 1;
}
section.typeB input:checked ~ .content > div {
	transform: translateX(30%);
}
section.typeB input:checked + .tabLabel + .content > div {
	pointer-events:auto;
	transform: translateX(0);
}